.result-display {
  max-width: 100%;
  background-color: black;
  color: white;
  height: 90px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 10px 10px 0;
  font-size: 50px;
}
